@media screen {

  html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  body.fundo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(../img/eberhard-grossgasteiger-S-2Ukb_VqpA-unsplash.jpg);
  
  }

  header {
    margin-top: 2em;
    margin-bottom: 3em;
    text-align: center;
  }

  #wrapper {
    min-height: 100%;
    position: relative;
  }

  div.body-content {
    /** Altura do rodapé tem que ser igual ao padding-bottom dessa div para o rodapé ser responsivo **/
    padding-bottom: 100px;
    
  }

  .container.sudoku{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }

  .container.contato{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .animated {
    height: auto;
    width: 20em;
    padding-top: 25%;

    
  }

  p.textoCentralizado {
    text-align: center;
  }

   /** Grid do Sudoku **/
  table {
    margin: 2em auto;
    border-collapse: collapse;
    color: rgb(128, 118, 115);
    background-color: azure;
  }

  td {
    height: 30px;
    width: 30px;
    border: 1px solid;
    text-align: center;
  }

  td:first-child {
    border-left: solid;
  }

  td:nth-child(3n) {
    border-right: solid;
  }

  tr:first-child {
    border-top: solid;
  }

  tr:nth-child(3n) td {
    border-bottom: solid;
  }

  /** Formulário de contato **/
  #formularioContato {
    padding-top: 2em;
  
  }
  .campo {
    margin-bottom: 1em;
  }

  .campo label {
    margin-bottom: 0.2em;
    color: black;
    display: block; /**Quebra de linha entre label e input**/
  }

  .campo input[type="text"], .campo input[type="email"], .campo textarea {
    padding: 0.2em;
    border: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
  }

  .botoes {
    text-align: center;
  }

  input.botaoEnviar {
    margin: 1em auto;
    color: rgb(231, 35, 35);
  }

  div.voltar{
    padding-top: 2em;
  }

  /** Rodapé **/
  footer {
    background-color: gainsboro;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  p.linhaRodape {
    text-align: center;
    margin: 0;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  a:visited {
    color: blueviolet;
  }
}